[Unit]
Description=Finalize PiTunes first boot
Wants=systemd-random-seed.service userconfig.service
After=local-fs.target systemd-random-seed.service userconfig.service
Before=ssh.service pitunes-hotspot.service
ConditionPathExists=!/var/lib/pitunes/firstboot.done

[Service]
Type=oneshot
ExecStart=/opt/pitunes/scripts/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
